<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <logger name="org.quartz.core.QuartzSchedulerThread" level="WARN" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} | %-5level | %-40thread | %-40logger{1} | %m%n%rEx</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
